.timer {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  text-align: center;
}

.timer .value {
  font-size: 40px;
}

.timer .label {
  text-transform: uppercase;
  font-size: 20px;
}
